language: python
python:
  - "3.5"
  - "3.6"
  
# command to install dependencies
install:
  - pip install .
  - pip install pytest
  - pip install pytest-cov
  
# command to run tests
script: py.test --cov=./

after_success:
  - codecov


